# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

playwright/.auth
tests
.venv
.agents
.env

browser-use-agent/.env
browser-use-agent/.venv
browser-use-agent/.agents
browser-use-agent/scripts/